<div class="prettyform">
  <div class="full-width-container newquestion">
    <div class="row">
      <div class="col-sm-7">
        <div class="box">
          <h2 class="title-no-margin center">New Question</h2>
          <br>
            <%= form_for(@question) do |f| %>
              <%= f.text_field :text, placeholder: 'Question',  class: 'form-control', autofocus: true %>
              <%= f.label :qset_id, 'Qset' %>
              <%= f.collection_select(:qset_id, Qset.find(current_user.org).descendants, :id, :name) %>
              <%= f.fields_for :answers do |a| %>
                <%= a.text_area :text, placeholder: 'Answer',  class: 'form-control' %>
              <% end %>
              <div class="center btn-div">
                <%= f.submit "Submit question", class: 'btn btn-theme btn-lg submit-question' %>
              </div>
            <%end%>
        </div>
      </div>
      <div class="col-sm-5">
        <%= render "how_to_box" %>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    initEditQuestion();
  });
</script>
