<div class="prettyform">
  <div class="container" id="new-user">
    <div class="box maxwidth-box">
      <h2 class="fixed-title center">Sign Up</h2>

  
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'center'}) do |f| %>
        <%= devise_error_messages! %>

        <div class="center">
        <%= f.text_field :first_name, autofocus: true, class: "center-form form-control", placeholder: "First Name" %>
        </div>

        <div class="center">
        <%= f.text_field :last_name, class: "center-form form-control", placeholder: "Last Name" %>
        </div>

        <div class="center">
        <%= f.email_field :email, class: "center-form form-control", placeholder: "Email"  %>
        </div>

        <div class="styled-select">
          <%= f.label :org_id, 'Organization' %>
          <%= f.collection_select(:org_id, Qset.where(parent_id: nil).order(:name), :id, :name) %>
        </div>

        <div class="center">
        <%= f.password_field :password, autocomplete: "off", class: "center-form form-control", placeholder: "Password (minimum 8 characters)"  %>
        </div>

        <div class="center"> 
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "center-form form-control", placeholder: "Confirm password" %>
        </div>

        <div class="center"><%= f.submit "Sign up", class: "btn btn-theme btn-success" %></div>

        <div class="user-link">
          <%= link_to "Already a user? Sign in", new_session_path(resource_name) %>
        </div>
        <% end %>
    

    </div>
  </div>
</div>

