<span id="question_list">

<div class="question_list">
  <% @questions.each_with_index do |question, index| %>
    <% if current_user and question['user_id'] == current_user.id %>
      <div class="box valign my-question hidden row">
    <% else %>
      <div class="box valign other-question hidden row">
    <% end %>
    <div class="col-xs-9">
      <div class="row">
        <div class="col-xs-4 col-sm-3">
          <div class="net-votes"><p id="question-<%= question.id %>-net-votes"><%= question.plusminus %></p><br></div>
          <div class="question-voting">
            <div class="glyphicon glyphicon-triangle-top upvote-button" data-vote="upvote" data-vote-qid="<%= question.id %>"></div>
            <div class="glyphicon glyphicon-triangle-bottom downvote-button" data-vote="downvote" data-vote-qid="<%= question.id %>"></div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-7">
          <div class="question-content">
            <%= link_to question_path(question) do%>
              <%= question.text %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-2 col-sm-2">
          <div class="question-actions">
            <span class="actions pull-right">
              <!-- Creates the edit and delete options for each question -->
              <% if can? :manage, question %>

                <%= link_to edit_question_path(question), class:'btn shortcut-button-link' do%>
                  <span class="glyphicon glyphicon-edit shortcut-button-glyphicon"></span>
                <% end %>

                <%= link_to question_path(question), method: :delete, class:'btn shortcut-button-link' do%>
                  <span class="glyphicon glyphicon-trash shortcut-button-glyphicon"></span>
                <% end %>

              <% end %>
            </span>
          </div>
        </div> <!-- .col-xs-2 -->
      </div>
    </div>
    <div class="col-xs-3">
      <div class="row">
        <div class="col-md-5">
          <% if can? :see_question_author, question %>
            <%= link_to_if (can? :read, User), question.user.full_name, user_path(question.user.id) %>
          <% else %>
            Another user
          <% end %>
        </div>
        <div class="col-md-7">
            <a data-toggle="modal"
              href="#"
              data-target="#question_display_Modal"
              data-answer="<%= question.answers[0].text %>"
              data-qid="<%= question.id %>"
              data-question="<%= question.text %>"
              class="btn btn-primary">
                Quiz Me
            </a>
        </div>
      </div>
    </div>
  </div> <!-- .box -->
  <% end %>
</div> <!-- .question-list -->
</span>
