<div class="container-fluid">
  <%= render "qset_context" %>
  <div id="all-mine-filter-container">
    <%= render "all_mine_other_filter" %>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <%= render "qset_list_compressed" %>
    </div>
    <div class="col-sm-9">
      <div id="all-mine-filter-container-xs">
      <%= render "all_mine_other_filter" %>
      </div>
      <%= render "question_list" %>
    </div>
  </div>
</div>

<%= render "modal_question" %>
<%= render "modal_social" %>
<% if can? :manage, Qset %>
  <%= render "modal_edit_qset" %>
  <%= render "modal_new_qset" %>
<% end %>

<script>
  $(document).ready(function(){
    initQsets();
    initQuestionFilter();
    initVote();
  });
</script>
